
body{
  animation: bganimation 10s infinite;
  background-image: linear-gradient(125deg, #2c3e50, #27ae60, #2980b9, #eb4d4b,#badc58);
  background-size: 200%;
}
@keyframes bganimation{
  0%{
    background-position: 0 49%;
  }
  50%{
    background-position: 99% 49%;
  }
  100%{
    background-position: 1% 50%;
  }
}
*{
  font-family: Calibri;
  margin: 0;
  padding: 0;
  background-size: cover;
}
.news1{
  text-decoration: none;
}
#date{
  color: black; 
}
.jobcomp{
  width: 90%;
  column-count: 2;
  column-gap: 25px;
  column-width:40%;
}
.jobcomp a[title]{
  display: inline-block;
  text-decoration:none;
  padding:17px; 
  color:blue;
  /*box-shadow: 0 1px 2px rgba(0,0,0.14) rgba(0,0,0.25);*/
  opacity: 0.6%;
  margin-bottom: 1px;
  transition: all .2s cubic-bezier(0.24,.8,.27,1.1);
}
.jobcomp a[title]:hover{
}
main{
  width: 85%;
  margin: 60px auto;
  column-width: 2530%;
  column-count: 2;
  column-gap: 25px;
  -webkit-column-width: 230px;
  -webkit-column-count: 3;
  -webkit-column-gap: 25px;
}
.reviewpage{
   width: 85%;
  margin: 60px auto;
  column-width: 2530%;
  column-count: 2;
  column-gap: 25px;
   -webkit-column-width: 230px;
  -webkit-column-count: 3;
  -webkit-column-gap: 25px;
}
main a[title]{
   display: inline-block;
  text-decoration:none;
  padding:17px; 
  color:white;
  box-shadow: 0 1px 2px rgba(0,0,0.14) rgba(0,0,0.25);
  margin-bottom: 1px;
  transition: all .2s cubic-bezier(0.24,.8,.27,1.1);
}
a[title] figure img{
  width: 100%;
  height: auto;
  margin-top: 15px;
}
main:hover a[title]:not(:hover){
  opacity: 0.8;
}
a[title]:hover{
  box-shadow: 0 15px 30px rgba(0,0,0,.28), 0 12px 12px rgba(0,0,0,.23);
}
.headcontact{
padding: 2%;
display: flex;
flex-direction: row;
}
.acvtive1{
  background-color: blue;
}
.source1{
  text-align: center;
}
.contactform{
 padding: 5%;
}
.advertisment1{
  background-image: url(NAMI.png);
  text-decoration: none;
  font-size: 20px;
  background: no-repeat;
  width: 100%;
  height: auto;
}
.advertisment1 a{
  font-size: 30px;
  text-decoration: none;
}
.news111{
  font-family:Arial Black;
  font-size: 20px;
}
.news111 a:hover{
  color: #060DEE;
  text-decoration: none;
}
.slideshow{
  width: 80%;
  height:250px;
  background-image: url(cnp.jpg);
  background-size: 100% 100%;
 animation: slideshow 10s infinite linear;
 margin-left: 130px;
 margin-top: 10px;
} 
 @keyframes slideshow{
   0%{
   background-image: url(cnp.jpg);
   background-size: 100% 100%;
   }
   35%{
background-image: url(RARAL.jpg);
background-size: 100% 100%;
   }
   75%{
background-image: url(abc.jpg);
background-size: 100% 100%;
   }
 }
 .intro{
  display: flex;
  flex-direction: row;
  border: 2px solid-black ;
 }
 .headline11{
  font-size: 20px; 
  font-family:serif;
  color: black;
 }
 .message1{
  font-size:30px; 
  color:black;
  margin-top: 50px;
 }
 .introimage{
  margin-left: 30px;
 }
 .name11{
  font-size: 30px;
 }
 .headname11{
  font-size: 25px;
  color: black;
 }
 .ad111{
  text-align:center;
  font-size: 30px;
  width: 900px;
  height:200px;
  margin-left: 100px;
  margin-top: 10px;
  background-image: url(nami1.jpg);
  background-size: 100% 100%;
 animation: jobad 10s infinite linear;
 box-shadow: 1px, 2px, 11px, 6px grey;

 }
 @keyframes jobad{

   0%{
   background-image: url(nami1.jpg);
   background-size: 100% 100%;
   }

   35%{
background-image: url(nami2.jpg);
background-size: 100% 100%;
   }

   75%{
background-image: url(nami1.jpg);
background-size: 100% 100%;
   }
 }
 .ad111{
  text-decoration: none;
 }
 .youtube{
 width: 250px;
 height: 250px;
}
.htmltutorial ,.csstutorial ,.javascripttutorial{
  width:90%; 
  height:320px;
  margin-left: 60px;
  margin-top: 25px;
}
.heading1111{
  font-size:30px;
  color: white;
  text-align: center; 
}
.heading1111 a:hover{
  text-decoration: underline;
  color: orange;
}
.htmltutorial1 ,.csstutorial1 ,.javascripttutorial1{
  margin-left: 100px;
  margin-top: 25px;
}

}
.htmltutorial1 a:hover ,.csstutorial1 a:hover ,.javascripttutorial1 a:hover{
  box-shadow: 0 15px 30px rgba(0,0,0,.28), 0 12px 12px rgba(0,0,0,.23); 
}
.newstitle{
  font-size:50px;
  color: orange;
  text-align: center;
  text-decoration: underline;
}
.part{
  display: flex;
  flex-direction: row;
}
.youtubevideo11{
  height: 300px;
  width: 400px;
}
.jobformtext{
  display: block;
  width: 250px;
  border:0;
  opacity: 0.9;
  margin: 18px 0;
  padding: 20px 40px;
  margin-left: 10px;

}

.jobformtext1{
 cursor: pointer;
  padding: 15px 45px;
  border-radius: 25px;
   background-color: grey;
  color: blue;
  font-size: 30px;
}
.formheader{
  color: black;
  font-size: 25px;
  font-family: serif;
}
.part{
  display: flex;
  flex-direction: row;
}
.heading11111{
  color: white;
  font-size: 25px;
}
.jobpage1{
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width:1050px){
.heading1 ul{
  display: flex;
  flex-direction: column;
}
.headfooter ul {
  display: flex;
  flex-direction: column;
}
.headfooter1{
  display: flex;
  flex-direction: column;
}

}
